pipeline/pl_create_silver_tables.json
{
	"name": "pl_create_silver_tables",
	"properties": {
		"activities": [
			{
				"name": "Delete silver taxi zone folder",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_nyc_taxi_data_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"p_folder_path": {
								"value": "@variables('v_folder_path')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Create silver taxi zone",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete silver taxi zone folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@variables('v_usp_name')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_serverless_sql_db_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_folder_path": {
				"type": "String",
				"defaultValue": "silver/taxi_zone"
			},
			"v_usp_name": {
				"type": "String",
				"defaultValue": "silver.usp_silver_taxi_zone"
			},
			"v_folder_path_usp_name_array": {
				"type": "Array",
				"defaultValue": [
					"[ \t{ \t\t\"folder_path\": \"silver/calendar\", \t\t\"usp_name\": \"silver.usp_silver_calendar\" \t}, \t{ \t\t\"folder_path\": \"silver/taxi_zone\", \t\t\"usp_name\": \"silver.usp_silver_taxi_zone\" \t}, \t{ \t\t\"folder_path\": \"silver/trip_type\", \t\t\"usp_name\": \"silver.usp_silver_trip_type\" \t}, \t{ \t\t\"folder_path\": \"silver/vendor\", \t\t\"usp_name\": \"silver.usp_silver_vendor\" \t}, \t{ \t\t\"folder_path\": \"silver/rate_code\", \t\t\"usp_name\": \"silver.usp_silver_rate_code\" \t}, \t{ \t\t\"folder_path\": \"silver/payment_type\", \t\t\"usp_name\": \"silver.usp_silver_payment_type\" \t},  ]"
				]
			}
		},
		"annotations": []
	}
}